# Compiled files
target/
*.class

# Maven
.mvn/
mvnw
mvnw.cmd

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
venv/
*.egg-info/

# Temporary files
*.log
*.tmp
load_images.py
load_images_missing.py

# Backup folders
*_BACKUP_OUTSIDE/
